{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reserva Brasil</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    </head>
    <body>
        <div id="loader">
            <div class="loader"></div>
        </div>

        <!-- Navbar -->
        <div class="content">
            <div class="nav-container">
                <h1>Reserva Brasil</h1>

                <div class="nav-buscas">
                    <form method="get" action="{% url 'searchProperty' %}">
                        <input type="text" name="searchQuery" placeholder="Buscar imóveis..." />
                        <button type="submit">Buscar</button>
                    </form>

                    <div class="nav-link">
                        <a href="{% url 'homepage' %}">Homepage</a>
                        <a href="{% url 'homeReservation' %}">Reservas</a>
                        <a href="{% url 'users' %}">Usuário</a>
                        <nav>
                            <select
                                id="nav-combobox"
                                onchange="if(this.value) window.location.href=this.value"
                            >
                                <option value="">---selecione---</option>

                                <option value="{% url 'Invoice' %}">Fatura</option>
                                <option value="{% url 'Businesses' %}">Para Empresas</option>

                                {% if user.is_authenticated and user.is_staff %}
                                <option value="{% url 'addImage' %}">
                                    Adicionar imagem da propriedade
                                </option>
                                {% endif %}
                            </select>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'js/loader.js' %}"></script>
    </body>
</html>
