{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reserva Brasil</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    </head>
    <body>
        <div id="loader">
            <div class="loader"></div>
        </div>

        <div class="content">
            <div class="nav-container">
                <h1>Reserva Brasil</h1>

                <div class="nav-buscas">
                    <form method="get" action="{% url 'searchProperty' %}">
                        <input type="text" name="searchQuery" placeholder="Buscar imóveis..." />
                        <button type="submit">Buscar</button>
                    </form>

                    <div class="nav-link">
                        <a href="{% url 'homepage' %}"
                            ><img src="{% static 'img/icons/homepage.svg' %}" alt="Homepage"
                        /></a>

                        <nav>
                            <div class="nav-link" style="position: relative">
                                <img
                                    src="{% static 'img/icons/menu.svg' %}"
                                    alt="Menu"
                                    id="menu-icon"
                                    style="width: 30px; cursor: pointer"
                                />

                                <ul id="custom-menu" class="dropdown-menu">
                                    <li><a href="{% url 'users' %}">Usuário</a></li>
                                    <li><a href="{% url 'homeReservation' %}">Reservas</a></li>
                                    <li><a href="{% url 'Invoice' %}">Fatura</a></li>
                                    {% if user.is_authenticated and user.is_staff %}
                                    <li>
                                        <a href="{% url 'addImage' %}"
                                            >Adicionar imagem da propriedade</a
                                        >
                                    </li>
                                    {% endif %}
                                    <li><a href="{% url 'Businesses' %}">Para Empresas</a></li>
                                </ul>
                            </div>
                        </nav>

                        {% if user.is_authenticated %}
                        <a href="{% url 'login_view' %}"
                            ><img src="{% static 'img/icons/Logout.svg' %}" alt="Logout"
                        /></a>
                        {% else %}
                        <a href="{% url 'login_view' %}">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'js/loader.js' %}"></script>
        <script src="{% static 'js/menuBase.js' %}"></script>
    </body>
</html>
