{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ property.name }} - Detalhes do Imóvel</title>
        <link rel="stylesheet" href="{% static 'css/propertyDetail.css' %}" />
    </head>
    <body>
        {% include 'base.html' %}

        <div class="property-detail-container">
            <h1 class="property-detail-header">{{ property.name }}</h1>

            <div class="property-detail-main">
                <div class="property-info">
                    {% if property.price %}
                    <p><strong>Valor:</strong> R$ {{ property.price }}</p>
                    {% endif %} {% if property.category %}
                    <p><strong>Categoria:</strong> {{ property.category.name }}</p>
                    {% endif %} {% if property.typeProperty %}
                    <p><strong>Tipo:</strong> {{ property.typeProperty.name }}</p>
                    {% endif %}
                </div>

                {% if property.image %}
                <div class="property-image-container">
                    <img
                        class="property-image"
                        src="{{ property.image.url }}"
                        alt="{{ property.name }}"
                    />
                </div>
                {% endif %}
            </div>

            {% if property.description %}
            <div class="property-description">
                <p><strong>Descrição:</strong> {{ property.description }}</p>
            </div>
            {% endif %}

            <a href="{% url 'homeReservation' %}">Faça sua reserva</a>
        </div>
    </body>
</html>
