{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/room_confirm_delete.css' %}" />
    </head>
    <body>
        {% include "base.html" %} {% block content %}
        <div class="property-container">
            <h1>Excluir Quarto</h1>
            <p>Tem certeza que deseja excluir o quarto "{{ object.name }}"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit">Confirmar exclusão</button>
                <a href="{% url 'room-list' object.property.id_property %}">Cancelar</a>
            </form>
        </div>
        {% endblock %}
    </body>
</html>
